.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.cardIndex {
    padding-top: 10%;
}

.card-img-top{
    width: 100%;
    height: 100%;
}

.card {
    height: 450px;
}

.img {
    width: 130px;
    height: 130px;
}


@media screen and (max-width: 767px) {
}
